body {
    color: rgb(46, 68, 112);
}

.mainContainer {
    margin: 36px;
    border-bottom: 5px solid;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.profilePic {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    border-top-right-radius: 20%;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.nameAndTitle {
    margin-right: 24px;
}