.mainContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {

}

.listContainer {

}

.searchField {
    padding: 8px;
    border: 1px solid black;
    margin-top: 8px;
}


.inputField {
    padding: 12px;
    border: 1px solid black;
}

.addBtn {
    padding: 8px;
}

.deleteBtn {
    margin-left: 12px;
    border: 1px solid;
    border-radius: 30%;
    background-color: inherit;
    padding: 4px 8px;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: antiquewhite;
}